@{
    ViewData["Title"] = "Ödeme Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    @await Html.PartialAsync("../Home/_BreadCrumb.cshtml")

    <section class="inner-page">
        <div class="container">
            <p>
                Example payment page
            </p>
        </div>
    </section>

</main><!-- End #main -->