  <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">Sizlere en iyi hizmeti sunma çabasındayız</h3>
                <p data-aos="fade-up" data-aos-delay="100">
                    Kurumsal ya da Bireysel işletmenizin web arayüzünü tasarlayalıyoruz
                </p>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-receipt"></i>
                        <h4>Firmamız hakkında</h4>
                        <p>Sizlere en iyi hizmeti verebilmek için, gelişen teknolojileri takip ediyoruz</p>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Felsefemiz </h4>
                        <p> İşletmeniz, işletmemizdir felsefesine inanıyoruz.  </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->