 <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Ürünlerimiz</h2>
            <p>Bazı Ürünlerimizi kontrol edin</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Tümü</li>
                    @*<li data-filter=".filter-app">Uygulama</li>*@
                    @*<li data-filter=".filter-card">Card</li>*@
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/portfolio/arkitecture1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/portfolio/arkitecture1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Mimarlık Firmaları İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/arsha1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/arsha1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Şirketiniz İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/yummy1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/yummy1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Restoranınız İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/cleanblog1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/cleanblog1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 4"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Kişisel Blogunuz İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/gp1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/gp1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 5"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>İnşaat Firmaları İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/hero1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/hero1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 6"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Firmanız İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/upconstruction1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/upconstruction1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 7"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>İnşaat Firmanız İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/medialab1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/medialab1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 8"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Sağlık Firmaları İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/blogpage1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/blogpage1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 9"><i class="bi bi-plus"></i></a>
                        <a asp-action="PortfolioDetail" title="Daha Fazla Detay"><i class="bi bi-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Kişisel Blogunuz İçin</h4>
                        <p>Web Site</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->