<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Servisler</h2>
            <p>Size sunmakta olduğumuz servisleri inceleylim</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon">
                        <i class="bx bi-tablet"></i>

                    </div>
                    
                    <h4 class="title"><a href="">Mobil Destekli</a></h4>
                    <p class="description">İşletmenizin birçok cihazda görüntülenmesini sağlayın.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href=""> İşletme Tanıtımı</a></h4>
                    <p class="description"> Etkileyici tasarımlarla işletmenizi ön plana çıkmasını sağlayın. </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Admin Panel Yönetimi</a></h4>
                    <p class="description"> Gelişmiş admin paneli sayesinde ile sitenizi güncel tutun.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Hızlı Erişim</a></h4>
                    <p class="description">Sitenize hızlı ve kolayca erişim sağlayabilirsiniz.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->