@{
    ViewData["Title"] = "Fiyat Teklifi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">

    @await Html.PartialAsync("_BreadCrumb.cshtml")

    <!-- ======= Portfolio Details Section ======= -->
    <section id="price-offer" class="price-offer">
        <div class="container">

            <div class="row gy-4">

            

                <div class="col-lg-4">
                   
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main>